{% extends 'base.html.twig' %}

{% block title %}New Supermercados{% endblock %}

{% block body %}
    <h1>Create new Supermercados</h1>

    {{ include('supermercados/_form.html.twig') }}

    <a href="{{ path('app_supermercados_index') }}">back to list</a>
{% endblock %}
